<h2>Login</h2>

<div class="flex">
  <form (ngSubmit)="login()" [formGroup]="addLoginForm" novalidate>

    <div>
      <label for="email">E-mail address:</label>
      <input type="text" id="email" formControlName="email">
      <span *ngIf="addLoginForm.get('email')?.touched && addLoginForm.get('email')?.invalid">*</span>
      <span *ngIf="addLoginForm.get('email')?.touched && addLoginForm.get('email')?.errors?.required">Vul in aub</span>
      <span *ngIf="addLoginForm.get('email')?.touched && addLoginForm.get('email')?.errors?.email">Een echt e-mailadres graag</span>
    </div>
    <div>
      <label for="wachtwoord">Wachtwoord:</label>
      <input type="password" id="wachtwoord" formControlName="wachtwoord">
      <span *ngIf="addLoginForm.get('wachtwoord')?.touched && addLoginForm.get('wachtwoord')?.invalid">*</span>
      <span *ngIf="addLoginForm.get('wachtwoord')?.touched && addLoginForm.get('wachtwoord')?.errors?.required">Vul in aub</span>
      <span *ngIf="addLoginForm.get('wachtwoord')?.touched && addLoginForm.get('wachtwoord')?.errors?.minlength">Minimaal acht tekens</span>
    </div>
    <h3>{{this.gebruikerService.bericht$ | async}}</h3>
    <br>
    <button>Login</button>
  </form>
</div>
