<ul>
  <li *ngIf="this.gebruikerService.ingelogdeGebruiker==null"><a routerLink="/login" routerLinkActive="activeMenu">Login</a></li>
  <li *ngIf="this.gebruikerService.ingelogdeGebruiker!=null"><a routerLink="/artikelen" routerLinkActive="activeMenu">Artikelen</a></li>
  <li *ngIf="this.gebruikerService.ingelogdeGebruiker!=null"><a routerLink="/producttoevoegen" routerLinkActive="activeMenu">Product toevoegen</a></li>

  <div id="rechterBlok">
    <li *ngIf="this.gebruikerService.ingelogdeGebruiker!=null"><a routerLink="/account" routerLinkActive="activeMenu" id="laatNaamIngelogdeZien">Ingelogd als {{this.gebruikerService.ingelogdeGebruiker | gebruikerName}}</a></li>
  <li *ngIf="this.gebruikerService.ingelogdeGebruiker!=null"><a routerLink="/login" routerLinkActive="activeMenu" (click)="gebruikerService.uitloggen()">Uitloggen</a></li>
  <li *ngIf="this.gebruikerService.ingelogdeGebruiker==null"></li>
  </div>
</ul>

<router-outlet></router-outlet>
