.productrow:hover{
  background-color: navy;
  color: white;
}

th{
  background-color: black;
  color: white;}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: lightgrey;}
