
<div class="overlay" *ngIf="popup">
  <div class="popup">
    <h2><div id="productnaam ">{{product.naam}}</div> </h2>
    <h3><div id="prijs">€ {{product.prijs.toFixed(2)}}</div></h3>
    <a class="close" (click)="handleClick()">&times;</a>
    <div class="content">
      <table class="productDetails">
        <tr><td>Beschrijving</td><td>{{product.beschrijving}}</td></tr>
        <tr><td>Categorie</td><td>{{product.categorie.categorienaam}}</td></tr>
        <tr><td>Aanbieder</td><td>{{product.aanbieder | gebruikerName}}</td></tr>
        <tr><td>Ondersteunde bezorgwijzen</td><td>{{product.bezorgwijze.map(titleCaseWord)}}</td></tr>
        <tr></tr>
      </table>
    </div>
  </div>
</div>

